/* Contenitori Generali */
html, body, .general {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar */
nav {
    background-color: #F0F0F0;
}

/* Logo */
.navbar-brand {
    margin-left: 30px;
}

/* Link presenti sulla Navbar */
.a-nav {
    margin: 0 120px;
    font-size: 20px;
}
/* .a-nav:hover {
    color: black !important;
    box-shadow: 5px 5px #b0021988;
} */

/* Testi Rossi */
.text-red {
    color: #E21D38 !important;
    text-decoration: none;
}

/* Main */
.home-main, .contatti-main {
    margin-top: 33px;
}

/* Titoli */
h1 {
    font-size: 30px;
}

/* Dimensione Immagine Home */
.w-img-home {
    width: 36%;
}

/* Tasto Vetrina */
.padding-tasto-vetrina {
    padding: 5px 90px;
}

/* Form */
form {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 63px;
    box-shadow: 2px 2px grey;
}

/* Contenitore di Form e Mappa */
.form-maps {
    margin-top: 25px;
}

/* Mappa */
iframe {
    margin-top: 10px;
}

form, iframe {
    margin-left: 80px;
}

/* Tasto Invia del Form */
.padding-tasto-form {
    padding: 5px 80px;
}

/* Footer */
footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #F0F0F0;
    padding: 20px 20px 10px;
}

/* Link Presenti sul Footer */
footer div a {
    margin: 0 10px;
}

/* Link presenti sul Footer + Icone Social */
.a-footer:hover {
    color: black !important;
}

/* Contenitore Icone Social */
.social {
    margin-top: 20px;
}

/* Icone Social */
.fa {
    font-size: 36px;
    margin: 0 10px;
}

.logo-footer {
    margin-top: -15px;
    margin-left: 8px;
}

/* Paragrafo del Copyright */
.copyright {
    margin-top: 20px;
}