/* Contenitori Generali */
html, body, .general {
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Inder;
}

/* Navbar */
nav {
    background-color: #F0F0F0;
    box-shadow: 2px 2px 7px gray;
}

/* Logo */
.navbar-brand {
    margin-left: 30px;
}

/* Link presenti sulla Navbar */
.a-nav {
    margin: 0 120px;
    font-size: 20px;
}
/* .a-nav:hover {
    color: black !important;
    box-shadow: 5px 5px #b0021988;
} */

/* Testi Rossi */
.text-red {
    color: #E21D38 !important;
    text-decoration: none;
}

/* Main */
.home-main, .vetrina-main, .contatti-main {
    margin-top: 28px;
}

/* Contenitore h1 + linea */
.contenitore-h1-linea {
    margin-bottom: 20px;
}

/* Titoli */
h1 {
    font-size:27px;
    margin-bottom: 0px;
    /* text-decoration: underline; */
}

/* Underline sotto i Titoli */
.linea-1 {
    background-color: black;
    width: 264px;
    height: 1px;
}
.linea-2 {
    background-color: black;
    width: 269px;
    height: 1px;
}
.linea-3 {
    background-color: black;
    width: 162px;
    height: 1px;
}

/* Bottoni */
.btn {
    box-shadow: 2px 2px 3px gray;
}

/* Immagine Principale Home */
.img-home {
    width: 36%;
    box-shadow: 3px 3px 5px gray;
}

/* Tasto Vetrina */
.padding-tasto-vetrina {
    padding: 5px 90px;
}

/* Contenitore Cards */
/* .contenitore-cards {
    width: 80%;
    border: 1px solid black;
    background-color: #E21D38;
} */

/* Cards */
.card {
    background-color: #F0F0F0;
    width: 263px;
    font-size: 15px;
}

/* Corpo delle Card */
.card-body {
    margin: 0px 10px;
}

.card-sinistra {
    margin-left: 250px;
}
.card-destra {
    margin-right: 250px;
}

/* Immagine delle Cards */
/* .card-img-top {
    width: 50%;
} */

/* Testo delle Cards */
/* .card-title, .card-text {
    font-size: 15px;
} */

/* Ombra sulle Cards */
.shadow-card {
    box-shadow: 3px 3px 5px grey;
}

/* Form */
form {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 63px;
    box-shadow: 3px 3px 5px grey;
}

/* Contenitore di Form e Mappa */
.form-maps {
    margin-top: 25px;
}

/* Mappa */
iframe {
    margin-top: 10px;
}

/* Contenitore Form e iFrame */
form, iframe {
    margin-left: 80px;
}

/* Tasto Invia del Form */
.padding-tasto-form {
    padding: 5px 80px;
}

/* Footer */
footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #F0F0F0;
    padding: 20px 20px 10px;
    box-shadow: 2px 2px 7px gray;
}

/* Link Presenti sul Footer */
footer div a {
    margin: 0 10px;
}

/* Link presenti sul Footer + Icone Social */
.a-footer:hover {
    color: black !important;
}

/* Contenitore Icone Social */
.social {
    margin-top: 20px;
}

/* Icone Social */
.fa {
    font-size: 36px;
    margin: 0 10px;
}

/* Logo Audu sul Footer */
.logo-footer {
    margin-top: -15px;
    margin-left: 8px;
}

/* Paragrafo del Copyright */
.copyright {
    margin-top: 20px;
}